# IDEs etc
.boto
.DS_Store
.idea
.project
*.iml
*.sublime*
*.swp
/.settings




## Build, etc
/self.tgz
*.log
/.mk
/.vagrant
/.venv
/manifest.json
/output-virtualbox-iso
/vagrant/config_override.yml
/vendor
