{{ hippo_delivery.user }} ALL= NOPASSWD: /bin/systemctl start {{ hippo_delivery.user }}
{{ hippo_delivery.user }} ALL= NOPASSWD: /bin/systemctl stop {{ hippo_delivery.user }}
{{ hippo_delivery.user }} ALL= NOPASSWD: /bin/systemctl restart {{ hippo_delivery.user }}
