{{ hippo_authoring.user }} ALL= NOPASSWD: /bin/systemctl start {{ hippo_authoring.user }}
{{ hippo_authoring.user }} ALL= NOPASSWD: /bin/systemctl stop {{ hippo_authoring.user }}
{{ hippo_authoring.user }} ALL= NOPASSWD: /bin/systemctl restart {{ hippo_authoring.user }}
